  PG_HOST=localhost
  PG_PORT=5432
  PG_DB=etl
  PG_USER=etl
  PG_PASSWORD=pass
  MONGO_JDBC_URL='jdbc:mongodb://localhost:27017/etl?authSource=etl'
  MONGO_JDBC_USER='etl_user'
  MONGO_JDBC_PASSWORD='pass'
