PG_HOST=localhost
PG_PORT=5432
PG_DB=etl2
PG_USER=etl
PG_PASSWORD=pass
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=etl
MONGO_USER=etl_user
MONGO_PASSWORD=pass
MONGO_AUTH_SOURCE=etl
JAVA_HOME=/home/sahas/PROJECTS/multiPipelineEtl/jdk1.8.0_491
export PATH=$JAVA_HOME/bin:$PATH
